body {
    font-family: 'Poppins', sans-serif;
    
}

form {
    background-color: white; /* Form background */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for form */
}

.alert {
    font-weight: bold;
    text-align: center;
}

button {
    border-radius: 8px;
    padding: 10px 20px;
}
